include vars
doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
html.no-js(lang="en")<!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=0.75")
    style .row,.input span,.svg-logo{opacity:0;}
    link(href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/modernizr.min.js")
      
  body.home#page-top(data-spy="scroll" data-target=".navbar-fixed-top")
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          // MOBILE NAV BUTTON
          button.navbar-toggle.collapsed.yy(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false" aria-controls="navbar")
            span.sr-only
            span.icon-bar.top-bar
            span.icon-bar.middle-bar
            span.icon-bar.bottom-bar
          //SVG LOGO
          a.page-scroll(href="#page-top")
            .svg-logo
              .logo-right
                svg#logo2(viewBox="0 0 320 105")
                  g.logo2a
                    path(d=l21)
                    path(d=l22)
                  g.logo2b
                    path(d=l23)
                    path(d=l24)
                    path(d=l25)
                  g.logo3
                    path(d=l3)
              .logo-left
                svg#logo1(viewBox="0 0 105 105")
                  circle.logo1a(cx="53" cy="53" r="25.3")
                  path.logo1b(d=l1)
          //END SVG LOGO
        //NAVIGATION MENU
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.signin
            li
              button.btn.sharp.log login to watch
            li
              a(href='registration.html')
                button.btn.sharp.join join now
          ul.nav.navbar-nav
            li.mobile
              button.btn.sharp.join Sign In &nbsp; / &nbsp; Register
              hr
            li.mobile
              a.page-scroll(href="#") Home
            li
              a.page-scroll(href="#") About AdWap
            li
              a.page-scroll(href="#") How It Works
            li
              a.page-scroll(href="#") Causes
            li
              a.page-scroll(href="#") Faqs
            li
              a.page-scroll(href="#") Contact
    //SECTION ONE
    section#one
      .container
        .row
          .col-md-6.col-md-offset-3
            .details
              h1 Watch. Give. Get.
              .border
              h2 Make 5 minutes of<br>down time 
                span add up
              a(href='registration.html')
                button.btn.sharp.join Join Now
              button.btn.sharp.log Log In To Watch
              .arrow-down
                a.page-scroll(href="#counter")
                  img(src="img/arrw-down.png")
    // COUNTER
    section#counter
      .container
        .row
          .details
            .left Doing good,<br> one view<br> at a time
            .input
              span 1006375
            .right Ads Watched
    //SECTION TWO
    section#two
      .container
        .row
          h2 How 
            span Ad
            span Wap works
          .col-md-4
            .details
              img(src="img/icon-watch.png")
              h3 1. You Watch
              p Watch up to ten video ads a day closely related to your interests. This will never exceed five minutes of your time, and can be split up. 
          .col-md-4
            .details
              img(src="img/icon-give.png")
              h3 2. We Give
              p We give a substantial piece of the advertising revenue to a charity that means something to you.
          .col-md-4
            .details
              img(src="img/icon-get.png")
              h3 3. You Get
              p You get entered into weekly, life- changing cash giveaways.
          button.btn.sharp.log Learn More
    //SECTION THREE
    section#three
      .container
        h2 A cause 
          span to match your heart
        p These are the charities we support. With AdWap, you can support them, too. Click on/Hover over each to learn more.
          //CHARITY CAROUSEL
          #myCarousel.carousel.slide
                .carousel-inner
                  .item.active
                    .row
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-1.png", alt="Image")                          
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-4.png", alt="Image")
                  .item
                    .row
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-1.png", alt="Image")                          
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        a(href="#x")
                          img.img-responsive(src="img/charity-4.png", alt="Image")
                a.left.carousel-control(href="#myCarousel", data-slide="prev")
                  img(src="img/arrw-left.png")
                a.right.carousel-control(href="#myCarousel", data-slide="next")
                  img(src="img/arrw-right.png")
          button.btn.sharp.log See All Causes
    //SECTION FOUR
    section#four
      .container
        .row
          .col-md-6.phone
            img(src="img/phone-star.png")
            img(src="img/phone-star.png")
            img(src="img/phone-star.png")
            img(src="img/phone.png")
          .col-md-6
            .details
              h2 A cash-giveaway to<br>
                span change your life
              p Every ad that you watch earns an entry into a weekly, life-changing cash giveaway.<br>Q. So, what’s the only thing better than donating to charity for free?<br>A. Winning money while you donate to charity for free.
              .pin
    //SECTION FIVE
    section#five
      .container
        .row
          .col-md-6.watch
            img(src="img/icon-watch2.png")
            img(src="img/icon-watch1.png")
            h4 watch
            h4 =
            h4 give
          .col-md-6
            .details
              h2 
                span AdWap
                | : Watching is giving
              p We think people should be able to support charities without dipping into their own pockets. AdWap takes advertising dollars and gives them a purpose of your choosing. It takes the usually annoying task of watching an ad and gives you an incentive to keep watching.
              button.btn.sharp.log More About Us
    //SECTION SIX
    section#six
      .container
        .row
          .col-md-6
            h2 Frequently asked questions
            p If this sounds too good to be true, you can click here to learn more.<br>Spoiler: There are no catches.
            button.btn.sharp.log Read
          .col-md-6
            img(src="img/icon-faq1.png")
            img(src="img/icon-faq2.png")
    //FOOTER
    footer
      .container
        .col-md-6.copyright
          span Copyright &copy; 2015 Adwap
          .tnc
            a(href="#") Terms and Conditions 
              span &nbsp; |  &nbsp; 
            a(href="#") Privacy Policy
          .cc
            a(href="#") Contact
        .col-md-6
          .logo-bttm
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js")
  script(src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/easing.min.js")
  script(src="js/numbers.min.js")
  script(src="js/main.js")
  script playIntro();
