include vars
doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
html.no-js(lang="en")<!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=0.75")
    style .row,.input span,.svg-logo{opacity:0;}
    link(href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/modernizr.min.js")
      
  body.register#page-top(data-spy="scroll" data-target=".navbar-fixed-top")
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          // MOBILE NAV BUTTON
          button.navbar-toggle.collapsed.yy(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false" aria-controls="navbar")
            span.sr-only
            span.icon-bar.top-bar
            span.icon-bar.middle-bar
            span.icon-bar.bottom-bar
          //SVG LOGO
          a.page-scroll(href="home.html")
            .svg-logo
              .logo-right
                svg#logo2(viewBox="0 0 320 105")
                  g.logo2a
                    path(d=l21)
                    path(d=l22)
                  g.logo2b
                    path(d=l23)
                    path(d=l24)
                    path(d=l25)
                  g.logo3
                    path(d=l3)
              .logo-left
                svg#logo1(viewBox="0 0 105 105")
                  circle.logo1a(cx="53" cy="53" r="25.3")
                  path.logo1b(d=l1)
          //END SVG LOGO
        //NAVIGATION MENU
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.signin
            li
              button.btn.sharp.log login to watch
            li
              a(href='registration.html')
                button.btn.sharp.join join now
          ul.nav.navbar-nav
            li.mobile
              button.btn.sharp.join Sign In &nbsp; / &nbsp; Register
              hr
            li.mobile
              a.page-scroll(href="#") Home
            li
              a.page-scroll(href="#") About AdWap
            li
              a.page-scroll(href="#") How It Works
            li
              a.page-scroll(href="#") Causes
            li
              a.page-scroll(href="#") Faqs
            li
              a.page-scroll(href="#") Contact
    // COUNTER
    input#select0.hidden(name="select" type="radio")
    input#select1.hidden(name="select" type="radio")
    input#select2.hidden(name="select" type="radio")
    input#select3.hidden(name="select" type="radio")
    input#select4.hidden(name="select" type="radio")
    input#select5.hidden(name="select" type="radio")
    input#select6.hidden(name="select" type="radio")
    input#select7.hidden(name="select" type="radio")
    input#select8.hidden(name="select" type="radio")
    input#select9.hidden(name="select" type="radio")
    input#select10.hidden(name="select" type="radio")
    input#select11.hidden(name="select" type="radio")
    input#select12.hidden(name="select" type="radio")
    input#select13.hidden(name="select" type="radio")
    input#select14.hidden(name="select" type="radio")
    input#select15.hidden(name="select" type="radio")
    input#select16.hidden(name="select" type="radio")
    section#regtop
      .container
        .row
          h1 Join Now
        h2 New User Sign Up
    //SECTION TWO
    section#step.two
      span.causebox
        h3 Details
        h4 Wounded Warrior Project 
        p.cause#c1 Wounded Warrior Project® (WWP) serves veterans and service members who incurred a physical or mental injury, illness, or wound, co-incident to their military service on or after September 11, 2001 and their families.
        a.learnmore Learn More
        label.btn.sharp.log(for='select1') Select
      span.causebox
        h3 Details
        h4 MDA
        p.cause#c2 The Muscular Dystrophy Association is the world’s leading nonprofit health agency dedicated to saving and improving the lives of people with muscle disease, including muscular dystrophy, amyotrophic lateral sclerosis (ALS) and other neuromuscular diseases. It does so by funding worldwide research to find treatments and cures; by providing comprehensive health care services and support to MDA families nationwide; and by rallying communities to fight back through advocacy, fundraising and local engagement.
        a.learnmore Learn More
        label.btn.sharp.log(for='select2') Select
      span.causebox
        h3 Details
        h4 One Hope
        p.cause#c3 Our name, OneHope, reflects our desire to present the Living Word of God in an engaging way to children and youth. Jesus Christ is the one and only hope for eternity — and when we present Him to the next generation lives are transformed. We have a plan to reach every young person, in every nation, with a relevant Gospel message by the year 2030.
        a.learnmore Learn More
        label.btn.sharp.log(for='select3') Select
      span.causebox
        h3 Details
        h4 Camo Kids
        p.cause#c4 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
        a.learnmore Learn More
        label.btn.sharp.log(for='select4') Select
      span.causebox
        h3 Details
        h4 Our
        p.cause#c5 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
        a.learnmore Learn More
        label.btn.sharp.log(for='select5') Select
      span.causebox
        h3 Details
        h4 Prevent Child Abuse America 
        p.cause#c6 At Prevent Child Abuse America, we work to ensure the healthy development of children nationwide, recognizing that child development is a building block for both community and economic development. Innovative communities across the country are achieving great results in preventing abuse and neglect from ever occurring; we at Prevent Child Abuse America are committed to bringing this kind of ingenuity to communities everywhere.
        a.learnmore Learn More
        label.btn.sharp.log(for='select6') Select
      span.causebox
        h3 Details
        h4 Scholarship America
        p.cause#c7 Scholarship America's mission is to mobilize America, through scholarships and educational support, to make postsecondary success possible for all students. Our vision is one of a world in which the completion of higher education with manageable debt is a reality for all.
        a.learnmore Learn More
        label.btn.sharp.log(for='select7') Select
      span.causebox
        h3 Details
        h4 Stop Bullying Now
        p.cause#c8 The primary mission of Stop Bullying Now Foundation, Inc. is to raise money for school districts around the country to address and eliminate the ongoing dangerous student bullying problem which is causing death, much mental and physical harm as well as forcing students to drop out of school. These school districts do not have the funds to address this important problem because of budget cuts due to deficits.
        a.learnmore Learn More
        label.btn.sharp.log(for='select8') Select
      span.causebox
        h3 Details
        h4 Trust for Public Land
        p.cause#c9 The Trust for Public Land works to protect the places people care about and to create close-to-home parks—particularly in and near cities, where 80 percent of Americans live. Our goal is to ensure that every child has easy access to a safe place to play in nature. We also conserve working farms, ranches, and forests; lands of historical and cultural importance; rivers, streams, coasts, and watersheds; and other special places where people can experience nature close at hand.
        a.learnmore Learn More
        label.btn.sharp.log(for='select9') Select
      span.causebox
        h3 Details
        h4 Vs. Cancer
        p.cause#c10 The parents of 46 children will hear today, “Your child has cancer.”  We raise funds along with our teammates to find new and better treatments to save lives. We also partner with children’s hospitals and cancer clinics right in the communities of the teams we partner with to make sure that kids currently in treatment for cancer have a better life.
        a.learnmore Learn More
        label.btn.sharp.log(for='select10') Select
      span.causebox
        h3 Details
        h4 Best Friends Animal Society
        p.cause#c11 Every day, more than 9,000 healthy and treatable dogs and cats are killed in America's shelters. But every day, there's something all of us can do to help save those animals. Here are just some of the actions you can take to help end the killing. All of us are dedicated to saving the lives of homeless pets. It’s a tremendous undertaking, and we are all grateful to have all of you by our sides, making it happen.
        a.learnmore Learn More
        label.btn.sharp.log(for='select11') Select
      span.causebox
        h3 Details
        h4 Wounded Warrior Project 
        p.cause#c12 Wounded Warrior Project® (WWP) serves veterans and service members who incurred a physical or mental injury, illness, or wound, co-incident to their military service on or after September 11, 2001 and their families.
        a.learnmore Learn More
        label.btn.sharp.log(for='select12') Select
      span.causebox
        h3 Details
        h4 MDA
        p.cause#c13 The Muscular Dystrophy Association is the world’s leading nonprofit health agency dedicated to saving and improving the lives of people with muscle disease, including muscular dystrophy, amyotrophic lateral sclerosis (ALS) and other neuromuscular diseases. It does so by funding worldwide research to find treatments and cures; by providing comprehensive health care services and support to MDA families nationwide; and by rallying communities to fight back through advocacy, fundraising and local engagement.
        a.learnmore Learn More
        label.btn.sharp.log(for='select13') Select
      span.causebox
        h3 Details
        h4 One Hope
        p.cause#c14 Our name, OneHope, reflects our desire to present the Living Word of God in an engaging way to children and youth. Jesus Christ is the one and only hope for eternity — and when we present Him to the next generation lives are transformed. We have a plan to reach every young person, in every nation, with a relevant Gospel message by the year 2030.
        a.learnmore Learn More
        label.btn.sharp.log(for='select14') Select
      span.causebox
        h3 Details
        h4 Camo Kids
        p.cause#c15 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
        a.learnmore Learn More
        label.btn.sharp.log(for='select15') Select
      span.causebox
        h3 Details
        h4 Our
        p.cause#c16 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
        a.learnmore Learn More
        label.btn.sharp.log(for='select16') Select
      .modal-bg
      .container
        .row
          h2 Step 2 of 3:  
            span Choose your cause
            p What is near and dear to your heart?  We know it's hard, but you can only pick just one.  You can change your charity later on if you like.
        h4 Featured Cause
        .container.featcause
          .row
            .col-md-3.featimage
              label.img(for='select0')
                span.causeselect
                  .selected.btn.sharp.log Selected  
            .col-md-9.featdetails
              h3 American Red Cross
              p The American Red Cross prevents and alleviates human suffering in the face of emergencies by mobilizing the power of volunteers and the generosity of donors. Survivors of disaster, patients needing lifesaving blood, members of the military and many more turn to the Red Cross every second of every day.
        h4 All Causes
        .container.allcause
          .row
          #myCarousel.carousel.slide
                .carousel-inner
                  .item.active.page-1
                    .row
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Wounded Warrior Project 
                          p.cause#c1 Wounded Warrior Project® (WWP) serves veterans and service members who incurred a physical or mental injury, illness, or wound, co-incident to their military service on or after September 11, 2001 and their families.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select1') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected   
                        img.img-responsive(src="img/charity-1.png", alt="Image")
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 MDA
                          p.cause#c2 The Muscular Dystrophy Association is the world’s leading nonprofit health agency dedicated to saving and improving the lives of people with muscle disease, including muscular dystrophy, amyotrophic lateral sclerosis (ALS) and other neuromuscular diseases. It does so by funding worldwide research to find treatments and cures; by providing comprehensive health care services and support to MDA families nationwide; and by rallying communities to fight back through advocacy, fundraising and local engagement.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select2') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 One Hope
                          p.cause#c3 Our name, OneHope, reflects our desire to present the Living Word of God in an engaging way to children and youth. Jesus Christ is the one and only hope for eternity — and when we present Him to the next generation lives are transformed. We have a plan to reach every young person, in every nation, with a relevant Gospel message by the year 2030.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select3') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Camo Kids
                          p.cause#c4 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select4') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-4.png", alt="Image")
                    .row
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Our
                          p.cause#c5 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select5') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-1.png", alt="Image")                          
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Prevent Child Abuse America 
                          p.cause#c6 At Prevent Child Abuse America, we work to ensure the healthy development of children nationwide, recognizing that child development is a building block for both community and economic development. Innovative communities across the country are achieving great results in preventing abuse and neglect from ever occurring; we at Prevent Child Abuse America are committed to bringing this kind of ingenuity to communities everywhere.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select6') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Scholarship America
                          p.cause#c7 Scholarship America's mission is to mobilize America, through scholarships and educational support, to make postsecondary success possible for all students. Our vision is one of a world in which the completion of higher education with manageable debt is a reality for all.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select7') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Stop Bullying Now
                          p.cause#c8 The primary mission of Stop Bullying Now Foundation, Inc. is to raise money for school districts around the country to address and eliminate the ongoing dangerous student bullying problem which is causing death, much mental and physical harm as well as forcing students to drop out of school. These school districts do not have the funds to address this important problem because of budget cuts due to deficits.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select8') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-4.png", alt="Image")
                  .item.page-2
                    .row
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Trust for Public Land
                          p.cause#c9 The Trust for Public Land works to protect the places people care about and to create close-to-home parks—particularly in and near cities, where 80 percent of Americans live. Our goal is to ensure that every child has easy access to a safe place to play in nature. We also conserve working farms, ranches, and forests; lands of historical and cultural importance; rivers, streams, coasts, and watersheds; and other special places where people can experience nature close at hand.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select9') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected   
                        img.img-responsive(src="img/charity-1.png", alt="Image")
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Vs. Cancer
                          p.cause#c10 The parents of 46 children will hear today, “Your child has cancer.”  We raise funds along with our teammates to find new and better treatments to save lives. We also partner with children’s hospitals and cancer clinics right in the communities of the teams we partner with to make sure that kids currently in treatment for cancer have a better life.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select10') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Best Friends Animal Society
                          p.cause#c11 Every day, more than 9,000 healthy and treatable dogs and cats are killed in America's shelters. But every day, there's something all of us can do to help save those animals. Here are just some of the actions you can take to help end the killing. All of us are dedicated to saving the lives of homeless pets. It’s a tremendous undertaking, and we are all grateful to have all of you by our sides, making it happen.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select11') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Wounded Warrior Project 
                          p.cause#c12 Wounded Warrior Project® (WWP) serves veterans and service members who incurred a physical or mental injury, illness, or wound, co-incident to their military service on or after September 11, 2001 and their families.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select12') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-4.png", alt="Image")
                    .row
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 MDA
                          p.cause#c13 The Muscular Dystrophy Association is the world’s leading nonprofit health agency dedicated to saving and improving the lives of people with muscle disease, including muscular dystrophy, amyotrophic lateral sclerosis (ALS) and other neuromuscular diseases. It does so by funding worldwide research to find treatments and cures; by providing comprehensive health care services and support to MDA families nationwide; and by rallying communities to fight back through advocacy, fundraising and local engagement.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select13') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-1.png", alt="Image")                          
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 One Hope
                          p.cause#c14 Our name, OneHope, reflects our desire to present the Living Word of God in an engaging way to children and youth. Jesus Christ is the one and only hope for eternity — and when we present Him to the next generation lives are transformed. We have a plan to reach every young person, in every nation, with a relevant Gospel message by the year 2030.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select14') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-2.png", alt="Image")                            
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Camo Kids
                          p.cause#c15 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select15') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-3.png", alt="Image")                           
                      .col-md-3
                        span.causehover
                          h3 Details
                          h4 Our
                          p.cause#c16 By providing an opportunity to the children of our military personnel to visit college campuses, attend athletic events and visit with administrators, coaches and athletes, the efforts of Camouflage Kids hope to inspire the children to challenge themselves academically and athletically when they return to their homes and schools.
                          a.learnmore Learn More
                          label.btn.sharp.log(for='select16') Select
                        span.causeselect
                          .selected.btn.sharp.log Selected 
                        img.img-responsive(src="img/charity-4.png", alt="Image")
                a.left.carousel-control(href="#myCarousel", data-slide="prev")
                  img(src="img/arrw-left.png")
                a.right.carousel-control(href="#myCarousel", data-slide="next")
                  img(src="img/arrw-right.png")
        a.nextstep(href="registration-step-3.html")
          button.btn.sharp.join Next Step: 
            span Customize Your Content     
    //FOOTER
    footer
      .container
        .col-md-6.copyright
          span Copyright &copy; 2015 Adwap
          .tnc
            a(href="#") Terms and Conditions 
              span &nbsp; |  &nbsp; 
            a(href="#") Privacy Policy
          .cc
            a(href="#") Contact
        .col-md-6
          .logo-bttm
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/easing.min.js")
  script(src="js/numbers.min.js")
  script(src="js/clamp.min.js")
  script(src="js/main.js")
